<%layout("/layouts/boilerplate.ejs")%> 
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <article></article>
    
    <div class="wrapper">
        <div class="main">
            <div class="home">
                <div class="left">
                    <img src="\images\home-page-girl.png" alt="home-page-girl" height="32.6rem">
                </div>

                <div class="right">
                    <svg class="blur-svg" viewBox="0 0 1439 1339" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_f_209_2)">
                        <path d="M1134.52 672.337C1132.82 874.02 945.613 1036.14 716.386 1034.44C487.159 1032.74 302.713 867.864 304.415 666.181C306.116 464.497 493.321 302.378 722.548 304.078C951.775 305.778 1136.22 470.653 1134.52 672.337Z" fill="white"/>
                        </g>
                        <defs>
                        <filter id="filter0_f_209_2" x="0.402954" y="0.0646973" width="1438.13" height="1338.39" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="152" result="effect1_foregroundBlur_209_2"/>
                        </filter>
                        </defs>
                        </svg>
                    <h1>PinkAware:Shedding<br> Awareness, Sharing<br> Support</h1>
                    <p>"Join the Pink Powerhouse: Where<br> Awareness Meets Action in the Fight<br> Against
                        Breast Cancer!"</p>
                    <button>Know More</button> 
                    <!-- <button class="edit-profile-btn"><a href="/editprofile/<%=user._id%>">Edit profile</a></button>  
                    <button class="edit-profile-btn"><a target="_blank" href="/nearest/<%=user._id%>">Nearest</a></button>    -->
                </div>
            </div>

            <div class="features">

                <a href="/appointment">
                <div>
                    <img src="\images\Appointment-4.jpg" alt="">
                    <p class="feature-type">APPOINTMENT</p>
                    <p class="feature-desc">Book your appointment to<br> experience excellence</p>
                </div>
                </a>

                <a href="/donation">
                <div>
                    <img src="\images\donation.png" alt="">
                    <p class="feature-type">DONATION</p>
                    <p class="feature-desc">Support our cause with <br>a donation</p>
                </div>
                </a>

                <a href="/volunteer">
                <div>
                    <img src="\images\Volunteer-2.jpg" alt="">
                    <p class="feature-type">VOLUNTEER</p>
                    <p class="feature-desc">Empower change, volunteer <br>with our community</p>
                </div>
                </a>

                <a href="/medicines">
                <div>
                    <img src="\images\medicine-2.png" alt="">
                    <p class="feature-type">MEDICINE ZONE</p>
                    <p class="feature-desc">Explore the medicine zone for <br>health resources</p>
                </div>
                </a>

                <a href="https://pinkaware-chat.netlify.app/">
                <div>
                    <img src="\images\Chat-2.jpg" alt="">
                    <p class="feature-type">COMMUNITY CHAT</p>
                    <p class="feature-desc">Connect with our community <br>for shared experiences</p>
                    
                </div>
                </a>
                
                <a target="_blank" href="/nearest/<%=user._id%>">
                <div>
                    <img src="\images\Nearest-1.jpg" alt="">
                    <p class="feature-type">NEAR ME</p>
                    <p class="feature-desc">Support Network near you</p>
                </div>
                </a>
                
                <a href="#">
                <div>
                    <img src="\images\Diagonosis-1.jpg" alt="">
                    <p class="feature-type">SELF DIAGNOSIS</p>
                </div>
                </a>
                
                <a href="/Lab">
                <div>
                    <img src="\images\Info-1.jpg" alt="">
                    <p class="feature-type">LAB TEST</p>
                    <p class="feature-desc"> Search for nearby labs</p>
                </div>
                </a>

            </div>

            <div class="news-main-container">
            <div class="news" id="news-container">

                

                
            </div>
            </div>


            <div class="user-info">
                <div class="left-image">
                    <img src="<%=user.Image1%>" alt="user-image" class="user-image">
                </div>
                <div class="right-info">
                    <div class="px-4 py-5 my-5 text-center">
                        <h1 class="display-5 fw-bold text-body-emphasis">Hello, <%=user.Name%></h1>
                        <div class="col-lg-6 mx-auto">
                          <p class="lead mb-4">Welcome to Pink Aware! We're here to empower you with information and support on your breast cancer journey. Explore our self-diagnosis tool, connect with our community, and find valuable resources.</p>
                          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <a class="edit-profile" href="/editprofile/<%=user._id%>"><button type="button" class="btn btn-primary btn-lg px-4 gap-3 edit-profile-info-section">Edit profile</button></a>
                            <button type="button" class="btn btn-outline-secondary btn-lg px-4 view-profile">View profile</button>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>





    <div class="contact"  id="contact">
		<div class="content">
			<h2>Contact Us</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem numquam id reprehenderit, sunt laudantium enim possimus repellat debitis et quis!</p>
		</div>
		<div class="container">
			<div class="contactInfo">
				<div class="box">
					<div class="icon"><ion-icon name="location-outline"></ion-icon></div>
					<div class="text">
						<h3>Address</h3>
						<p>402671 Sugar Camp Road,<br>Owatonna,Minnesota,<br>55025060</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"><ion-icon name="call-outline"></ion-icon></div>
					<div class="text">
						<h3>Phone</h3>
						<p>000-000-0000</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
					<div class="text">
						<h3>Email</h3>
						<p>wrub7d78i0e@temporary-mail</p>
					</div>
				</div>
				<h2 class="txt">Connect with us</h2>
				<ul class="sci">
					<li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
					<li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
					<li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
					<li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
				</ul>
			</div>

			<div class="contactForm">
				<form>
					<h2>Send Message</h2>
					<div class="inputBox">
						<input type="text" name="" required="required">
						<span>Full Name</span>
					</div>
					<div class="inputBox">
						<input type="text" name="" required="required">
						<span>Email</span>
					</div>
					<div class="inputBox">
						<textarea required="required"></textarea>
						<span>Type your Message...</span>
					</div>
					<div class="inputBox">
						<input type="submit" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>






    <template id="template-news-card">
        <div class="news-card">
            <div class="card-header">
                <img src="https://via.placeholder.com/400x200" alt="news image" id="news-img">
            </div>
            <div class="card-content">
                <h3 id="news-title">This is the Title</h3>
                <h6 class="news-source" id="news-source">Gautam 02/11/2003</h6>
                <p class="news-desc" id="news-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, sunt! Cupiditate architecto veniam adipisci dignissimos a excepturi distinctio quisquam? Explicabo?</p>
            </div>
        </div>
    </template>

    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script>
  window.botpressWebChat.init({
      "composerPlaceholder": "Chat with bot",
      "stylesheet": "https://webchat-styler-css.botpress.app/prod/4c3da748-0215-430a-b8df-09f756ab6252/v99817/style.css",
      "botConversationDescription": "This chatbot was built by team Pinkaware",
      "botName": "Pinkaware Chatbot",
      "disableAnimations": true,
      "className": "chatbot",
      "botId": "69d5c780-230d-4682-86f1-bc5f5393ea64",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "69d5c780-230d-4682-86f1-bc5f5393ea64",
      "webhookId": "f1de1575-ced6-46be-914c-ad524202f964",
      "lazySocket": true,
      "themeName": "prism",
      "frontendVersion": "v1",
      "showPoweredBy": true,
      "theme": "prism",
      "themeColor": "#FF407D"
  });
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>                                                
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="\js\homepage.js"></script>
</body>

</html>