<%layout("/layouts/boilerplate.ejs")%>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/volunteer.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <article class="volunteer-events">
        <!-- <div class="event-card">
            <div class="event-img-container">
                <img src="\images\campaign.png" alt="campaign image" class="event-img">
            </div>
            <div class="event-details">

                <h2>Awareness Campaign</h2>
                <p> "Join us in painting the world pink and blue, raising awareness, and fighting for a cancer-free future!"</p>
                <div class="location">
                    <img src="\images\location.svg" alt="" height="30px" width="30px">
                    <h2>Delhi</h2>

                </div>
                <p class="date">05/03/2024</p>
                
                <button class="login-button join-now">Join Now</button>
            </div>
        </div>
        <div class="event-card">
            <div class="event-img-container">
                <img src="\images\campaign.png" alt="campaign image" class="event-img">
            </div>
            <div class="event-details">

                <h2>Awareness Campaign</h2>
                <p> "Join us in painting the world pink and blue, raising awareness, and fighting for a cancer-free future!"</p>
                <div class="location">
                    <img src="\images\location.svg" alt="" height="30px" width="30px">
                    <h2>Delhi</h2>

                </div>
                <p class="date">05/03/2024</p>
                
                <button class="login-button join-now">Join Now</button>
            </div>
        </div>
        <div class="event-card">
            <div class="event-img-container">
                <img src="\images\campaign.png" alt="campaign image" class="event-img">
            </div>
            <div class="event-details">

                <h2>Awareness Campaign</h2>
                <p> "Join us in painting the world pink and blue, raising awareness, and fighting for a cancer-free future!"</p>
                <div class="location">
                    <img src="\images\location.svg" alt="" height="30px" width="30px">
                    <h2>Delhi</h2>

                </div>
                <p class="date">05/03/2024</p>
                
                <button class="login-button join-now">Join Now</button>
            </div>
        </div>
        <div class="event-card">
            <div class="event-img-container">
                <img src="\images\campaign.png" alt="campaign image" class="event-img">
            </div>
            <div class="event-details">

                <h2>Awareness Campaign</h2>
                <p> "Join us in painting the world pink and blue, raising awareness, and fighting for a cancer-free future!"</p>
                <div class="location">
                    <img src="\images\location.svg" alt="" height="30px" width="30px">
                    <h2>Delhi</h2>

                </div>
                <p class="date">05/03/2024</p>
                
                <button class="login-button join-now">Join Now</button>
            </div>
        </div>
        <div class="event-card">
            <div class="event-img-container">
                <img src="\images\campaign.png" alt="campaign image" class="event-img">
            </div>
            <div class="event-details">

                <h2>Awareness Campaign</h2>
                <p> "Join us in painting the world pink and blue, raising awareness, and fighting for a cancer-free future!"</p>
                <div class="location">
                    <img src="\images\location.svg" alt="" height="30px" width="30px">
                    <h2>Delhi</h2>

                </div>
                <p class="date">05/03/2024</p>
                
                <button class="login-button join-now">Join Now</button>
            </div>
        </div>
        <div class="event-card">
            <div class="event-img-container">
                <img src="\images\campaign.png" alt="campaign image" class="event-img">
            </div>
            <div class="event-details">

                <h2>Awareness Campaign</h2>
                <p> "Join us in painting the world pink and blue, raising awareness, and fighting for a cancer-free future!"</p>
                <div class="location">
                    <img src="\images\location.svg" alt="" height="30px" width="30px">
                    <h2>Delhi</h2>

                </div>
                <p class="date">05/03/2024</p>
                
                <button class="login-button join-now">Join Now</button>
            </div>
        </div>
        <div class="event-card">
            <div class="event-img-container">
                <img src="\images\campaign.png" alt="campaign image" class="event-img">
            </div>
            <div class="event-details">

                <h2>Awareness Campaign</h2>
                <p> "Join us in painting the world pink and blue, raising awareness, and fighting for a cancer-free future!"</p>
                <div class="location">
                    <img src="\images\location.svg" alt="" height="30px" width="30px">
                    <h2>Delhi</h2>

                </div>
                <p class="date">05/03/2024</p>
                
                <button class="login-button join-now">Join Now</button>
            </div>
        </div> -->
     
        <div class="container">
          <% for(let list of volunteerlisting){ %>
            <div class="card-media">
              <!-- media container -->
              <div class="card-media-object-container">
                <img class="card-media-object"  src="\images\withbg\bg.png"></img>
               
              </div>
              <!-- body container -->
              <div class="card-media-body">
                <div class="card-media-body-top">
                  <span class="subtle"><%=list.day%>, <%=list.date%>, <%=list.time%></span>
                  <div class="card-media-body-top-icons u-float-right">
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 0h24v24H0z" fill="none"/>
                      <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/>
                    </svg>
                    <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                  </div>
                </div>
                <h2 class="title-event"><%=list.name%> </h2>
                <span class="card-media-body-heading"><%=list.description %></span>
                <div class="card-media-body-supporting-bottom">
                  <span class="card-media-body-supporting-bottom-text subtle"><%=list.location%> , <%=list.city%></span>
                  <span class="card-media-body-supporting-bottom-text subtle u-float-right">Free &ndash; $30</span>
                </div>
                <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                  <span class="card-media-body-supporting-bottom-text subtle">#Awareness #Campaign</span>
                  <a href="#/" class="card-media-body-supporting-bottom-text card-media-link u-float-right">Join Now</a>
                </div>
              </div>
            </div>
            <%}%>
            
            
            
              
    </article>
    <footer class="footer">
        <div class="footer-left">
            <img class="footer-img" src="\images\withoutbg\volunteer.png" alt="">
        </div>
        <div class="footer-right">
            <div class="px-4 py-5 my-5 text-center">
                <img class="help-image" src="\images\peace.png" alt="help image">

                <h1 class="display-5 fw-bold text-body-emphasis">Require Help ?</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">Embrace Support: Utilize Our Community of Caring Volunteers to Guide You Through Your Breast Cancer Journey.</p>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Reach-out</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Know-More</button>
                  </div>
                </div>
              </div>
        </div>

    </footer>
    

    <!-- <script src="/js/navbar.js"></script> -->
</body>
</html>